@model IEnumerable<VisualScheduleApp.Models.Children.ChildViewModel>

@{
    ViewData["Title"] = "Children";
}

<h1>Children</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create</a>
</p>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Birth Date</th>
            <th>Age</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var child in Model)
        {
            <tr>
                <td>@child.Name</td>
                <td>@child.BirthDate.ToShortDateString()</td>
                <td>@child.Age</td>
                <td>
                    <a asp-action="Details" asp-route-id="@child.Id" class="btn btn-success btn-sm">Details</a>
                    <a asp-action="Update" asp-route-id="@child.Id" class="btn btn-primary btn-sm">Update</a>
                    <a asp-action="Delete" asp-route-id="@child.Id" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>