@model IEnumerable<VisualScheduleApp.Models.Activities.ActivityViewModel>

@{
    ViewData["Title"] = "Activities";
}

<h1>Tegevused</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Loo uus</a>
</p>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Nimi</th>
            <th>Kirjeldus</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var activity in Model)
        {
            <tr>
                <td>@activity.Name</td>
                <td>@activity.Description</td>
                <td>
                    <a asp-action="Details" asp-route-id="@activity.Id" class="btn btn-success btn-sm">Detailid</a>
                    <a asp-action="Update" asp-route-id="@activity.Id" class="btn btn-primary btn-sm">Uuenda</a>
                    <a asp-action="Delete" asp-route-id="@activity.Id" class="btn btn-danger btn-sm">Kustuta</a>
                </td>
            </tr>
        }
    </tbody>
</table>